# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Django
db.sqlite3

# Static files collected by collectstatic
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log